<div class="container">
  <h1>Welcome to Bitly (Kimberly's Version)!</h1>

   <form action = "/urls" method = "post">
    <input type = "text" name = "long_url" placeholder = "Please input the long url">
    <input type = "Submit" name = "Submit">
   </form>

   <% unless @url.nil? %>
   <a href ="/<%= @url.short_url %>">Your New Link</a>
   <% end %>

</div>
